<!-------------footer----------------->

<section id="footer-section">
    <span class="social-icons">
      <a
        class="icon-link"
        href="https://m.facebook.com/HunarKeNawab07/?ref=bookmarks"
        ><i class="fa icon-link fa-facebook fa-2x" aria-hidden="true"></i
      ></a>
      <a
        class="icon-link"
        href="https://instagram.com/hunar_ke_nawab?igshid=mnvfchgjnlwy"
        ><i class="fa icon-link fa-instagram fa-2x" aria-hidden="true"></i
      ></a>
      <a
        class="icon-link"
        href="https://www.youtube.com/channel/UCeINct6JqJhmuJwVSeCEURA"
        ><i class="fa icon-link fa-youtube fa-2x" aria-hidden="true"></i
      ></a>
      <a class="icon-link" href="#"
        ><i class="fa icon-link fa-envelope fa-2x" aria-hidden="true"></i
      ></a>
    </span>

    <p class="copyright">
      <i class="fa fa-copyright" aria-hidden="true"></i> 2020 Hunar Ke Nawab
    </p>
  </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script>
  disableFooterInSmallScreens();
</script>


  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/user.js"></script>
  </body>
</html>