<!DOCTYPE html>
<html>
  <head>
    <title>Hunar Ke Nawab | A platform to showcase your talent</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Hunar Ke Nawab is a platform for all sorts of talents. It is place where you can express and explore your self. Abbreviated to HKN, this is a government registered organisation that focuses on bringing fame to hidden gems.">

    <link rel="icon" href="/img/logo.png" type="image/x-icon" />

    <!-- BOOTSTRAP Css-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Fontawesome Css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Oswald:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Ubuntu:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script src="/js/index.js"></script>
  </head>
  <body>
      <div id="upper-section">
        <section id="nav-bar">
          <nav class="navbar navbar-expand-lg">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#"
              ><img
                class="brand-img"
                src="/img/logo.png"
                width="100"
                height="100"
                alt="hkn-logo"
            /></a>
            
            <a class="login-btn-nav" role="button" href="/login"
                ><i class="fa fa-2x fa-sign-in" aria-hidden="true"></i></a
              >

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/users/random/img-post/all">EXPLORE</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/event">EVENTS</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="/aboutus">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contactus">CONTACTUS</a>
                </li>
              </ul>
            </div>
          </nav>
        </section>
      </div>

      <nav class="show-nav effect6"></nav>