<%- include("partials/header") %> 



<div class="container min-ht-container">

    <div class="row animate">
        <div class="col-md-12 col-lg-6 d-sm-none d-lg-block">
            <div class="about-img text-center">
                <img  class="mt-5 d-sm-none d-lg-block" src="/img/logo.png" alt="" style="max-width: 80%;">
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <h1 class="big-header text-center m-5">ABOUT US</h1>

            
    <div class=" about-section text-center"> 
        <p>
            Hunar Ke Nawab is a government registered
organisation. Our registration credentials are: Reg-
50365/WB/15/2/2020, dated of 15 th February 2020.
We aim at providing a platform for the exhibition of
talents of all forms.<br> <br>
We are not restricted to any particular institution,
place, or parameter. On our voyage of talent hunt
across the country, we have also decided to do away
with linguistic barriers. <br> <br>
We conduct both online and offline events.
We are a multifaceted organisation and we promote
multifarious talents. From music, art and literature to
cooking, our catalogue of talent keeps getting more
and more diverse.
        </p>
    </div>
        </div>
    </div>
    
            

    
</div>












<%- include("partials/footer") %> 